td {
    vertical-align: middle
}

code:not(pre > code) {
    font-size: 1.1em;
}

.code-row td:nth-child(1),
.code-row td:nth-child(2) {
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.center td:nth-child(3),
.center td:nth-child(4) {
    text-align: center !important;
}

.shadow-outline {
    text-shadow:
        -2px -1px 0 #000,
        2px -1px 0 #000,
        -2px 1px 0 #000,
        2px 1px 0 #000;
}

.one-text {
    min-height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    position: absolute !important;
    top: 0 !important;
}

.two-text {
    position: absolute !important;
    top: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    left: 0 !important;
    right: 0 !important;
}
